@font-face{
    font-family:Bebas Neue Bold;
    src: url('BebasNeue/BebasNeue Bold.ttf');
}

@font-face{
    font-family:Bebas Neue Book;
    src: url('BebasNeue/BebasNeue Book.ttf');
}

@font-face{
    font-family:Bebas Neue Regular;
    src: url('BebasNeue/BebasNeue Regular.ttf');
}

@font-face{
    font-family:Raleway;
    src: url('BebasNeue/Raleway/Raleway.ttf');
}

@font-face{
    font-family:Raleway-Italic;
    src: url('BebasNeue/Raleway/Raleway-Italic.ttf');
}

.main {
    background-color:#F9F4F0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 9140px;
    width: 1920px;
    align-items: stretch;
    justify-content: flex-start;
}

.header {
    box-sizing: border-box;
    display: flex;
    width: 1340px;
    height:120px;
    gap:60px;
    top:20px;
    left:290px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navigation {
    box-sizing: border-box;
    display: flex;
    width: 1018px;
    height:120px;
    gap:60px;
    align-items: center;
}

.container {
    box-sizing: border-box;
    display: flex;
    width: 893px;
    height: 39px;
    gap: 120px;
    justify-content: space-between;
}

.header-text, .header-text1 {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    height: 39px;
    gap: 20px;
}

.header-text a{
    text-decoration: none;
    color: #272727;
}

.header-text1{
    width:305px;
}
.header-text{
    width:468px;
}

.header-text1 a{
    z-index:10;
    text-decoration: none;
    color: #F9F4F0
}

.telephone p{
    box-sizing: border-box;
    width: 223px;
    height: 54px;
    padding: 10px 14px 10px 14px;
    font-size: 22px;
    color: #F9F4F0;
    font-family: "Bebas Neue Bold", sans-serif;
    z-index: 10;
    position: relative;
}

.banner {
    box-sizing: border-box;
    position:absolute;
    width: 1340px;
    height: 830px;
    left: 290px;
    display: flex;
    flex-direction: column;
}

.text-banner1 h1{
    max-width: 581px;
    max-height: 336px;
    top: 221px;
    position:absolute;
    font-size: 58px;
    font-family: "Bebas Neue Bold", sans-serif;
}

.text-banner p{
    max-width: 481px;
    max-height: 50px;
    top: 577px;
    position:absolute;
    font-size: 18px;
    font-family: "Bebas Neue Bold", sans-serif;
}


.frame {
    justify-content: center;
    box-sizing: border-box;
    display: flex;
    width: 442px;
    height: 82px;
    top: 687px;
    left: 777px;
    border-radius: 20px;
    padding 24px 30px 24px 30px;
    gap: 10px;
    position: absolute;
    background-color: #EFE9E3;
    align-items: center;

}

.mask {
    width: 654px;
    height: 830px;
    left: 975px;
    position: sticky;
}

.container-button {
    box-sizing: border-box;
    display: flex;
    width: 473px;
    height: 82px;
    position: absolute;
    top: 687px;
    gap: 10px;
}

.btn {
   box-sizing: border-box;
   display: flex;
   position:relative;
   padding: 24px 40px 24px 40px;
   border-radius: 20px;
   font-size: 28px;
   cursor: pointer;
   height: 82px;
   gap: 10px;
   align-items: center;
   justify-content: center;
}

.btn-primary {
    background-color: #396448;
    color: white;
    width: 282px;
    border: none;
    font-family: "Bebas Neue Bold", sans-serif;
}

.btn-secondary {
    background: none;
    border: 1px solid #396448;
    color: #396448;
    width: 181px;
    font-family: "Bebas Neue Bold", sans-serif;
}

.text-center{
    width: 295px;
    height: 82px;
    top: 980px;
    left: 813px;
    display:flex;
    position:absolute;
    align-items: center;
}

.text-center h1{
    color: #272727;
    font-size: 46px;
    font-family: "Bebas Neue Bold", sans-serif;
}

.about {
    width: 1340px;
    height: 428px;
    top: 1102px;
    left:290px;
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
    position:absolute;


}

.grid {

    width: 950px;
    height: 428px;
    left:290px;
    display: grid;
    grid-template-rows: auto;
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center;
    align-items: stretch;
}

.block-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.block {
    width: 580px;
    height: 260px;
    border-radius: 30px;
    background-color: #EFE9E3;
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: flex-end;
    grid-column: 2 / 3; /* Занимает вторую колонку в первой строке */
    grid-row: 1;
}

.text-block {
    width:419px;
    height:155px;
    padding: 48px 56px 48px 56px;
}

.text-block p{
    font-size: 24px;
    color: #272727;
}

.block img{
    width: 180px;
    height: 180px;
    border-radius: 30px;
     grid-column: 1 / 2; /* Занимает первую колонку во второй строке */
    grid-row: 2;
}

.block1 {
    width: 420px;
    height: 148px;
    border-radius: 30px;
    background-color: #EFE9E3;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    grid-column: 2 / 3; /* Занимает вторую колонку во второй строке */
    grid-row: 2;
}

.block1 p{
    width: 336px;
    height: 88px;
    font-size: 18px;
    color: #272727;
}

.img-block {
    top: 152px;
    left: 391px;
    border-radius: 30px;
}

.block2 {
    width: 300px;
    height: 148px;
    border-radius: 30px;
    background-color: #EFE9E3;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    grid-column: 3 / 4; /* Занимает третью колонку во второй строке */
    grid-row: 2;
}

.block2 p{
    width: 226px;
    height: 88px;
    font-size: 18px;
    color: #272727;
}

.dog {
    width: 370px;
    height: 428px;
    grid-row: 1 / 3;
    grid-column: 3;
}
.dog3 {
  display: flex;
  gap: 10px;
}

.dog6 {
    display: flex;
    gap: 10px;
    grid-column: 1 / 3;
    grid-row: 2;
    flex-direction: row;
    justify-content: space-between;
}

.dogs{
    width: 1920px;
    height: 839px;
    top: 1680px;
    display:flex;
    position: absolute;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.green-block{
width: 1920px;
    height: 774px;
    border-radius: 50px;
    background-color: #396448;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs{
    width: 670px;
    height: 74px;
    display:flex;
    gap: 10px;
}

.tabs2 {
    display:flex;
    border: 1px solid #396448;
    padding: 20px;
    gap: 10px;
    border-radius: 10px;
    background: none;
    justify-content: center;
}

.tabs2 a{
    color: #396448;
    font-size: 24px;
    font-family: "Bebas Neue Bold", sans-serif;
    text-decoration:none;
}

.tabs2:nth-child(1) {
    width: 121px;
    height: 74px;
    background-color: #396448
}

.tabs2:nth-child(1) a{
    color: #F9F4F0;
    font-size: 24px;
    font-family: "Bebas Neue Bold", sans-serif;
    text-decoration:none;
}

.tabs2:nth-child(2) {
    width: 139px;
    height: 74px;
}

.tabs2:nth-child(3) {
    width: 102px;
    height: 74px;
}
.tabs2:nth-child(4) {
    width: 248px;
    height: 74px;
}

.dogs-photo {
    width: 1341px;
    height: 614px;
    display: flex;
    gap: 30px;
    align-items: center;
    flex-direction: column;
}

.text-dogs h2{
    width: 292px;
    height: 82px;
    display: flex;
    font-size: 48px;
    color: #F9F4F0;
    justify-content: center;
    align-items: flex-start;
    align-items: center;
}
.cards {
    width: 1341px;
    height: 370px;
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.card {
    position: relative;
    overflow: hidden;
}

.card img {
    display: block;
    width: 100%;
    height: auto;
}
.caption {
    width: 367px;
    height: 68px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 5px 10px;
    color: white;
    font-size: 28px;
    z-index:1000;
}

.container-button1 {
    width: 300px;
    height: 82px;
}

.btn1 {
    width: 300px;
    height: 82px;
    gap: 10px;
    position: absolute;
    border-radius: 20px;
    border: 1px solid #396448;
    color: #396448;
    font-size: 26px;
    background-color: #F9F4F0;
}

.advantages {
    width: 1341px;
    height: 717px;
    top: 2669px;
    left: 290px;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.list-adv{
    width: 884px;
    height: 430px;
    display:flex;
    gap:10px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.text-adv {
    width: 1341px;
    align-items: flex-start;
    height: 66px;
    display: flex;
    align-items: center;

}

.text-adv h2 {
    display: flex;
    width: 1341px;
    position: absolute;
    color: #272727;
    font-size: 68px;
    justify-content: center;
}

.info-adv {
    display: flex;
    z-index: 100;
    width: 427px;
    height: 200px;
    background-color: #EFE9E3;
    border-radius: 30px;
    align-items: center;
    /* padding: 15px; */
    justify-content: flex-end;
}

.info-text {
    gap: 10px;
    width: 290px;
    height: 88px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-text h3,
.info-text p {
    margin: 10px 10px;
    color: #272727;
}

.img-adv {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.img-adv img {
    border-radius: 15px;
}


.list img{
    top: 2736px;

    left: 975px;
    width: 656px;
    position: relative;
    z-index: 0;
}

.nature {
    width: 1920px;
    height 1175px;
    top:3536px;
}

.dm-text {
    width: 227px;
    height: 57px;
    z-index: 1;
    top: 3681px;
    left: 847px;
    display: flex;
    position: absolute;
}

.dm-text h1{
    color:#EFE9E3;
    width:227px;
    height: 57px;
}

.brown-block{
    width: 1920px;
    height: 1110px;
    border-radius: 50px;
    background-color: #AB8264;
    display: flex;
    align-items: center;
}

.tabs1{
    width: 670px;
    height: 74px;
    display:flex;
    gap: 10px;
}

.tabs3 {
    display:flex;
    border: 1px solid #AB8264;
    padding: 20px;
    gap: 10px;
    border-radius: 10px;

}

.tabs3 a{
    color: #AB8264;
    font-size: 24px;
    font-family: "Bebas Neue Bold", sans-serif;
    text-decoration:none;
}

.tabs3:nth-child(1) {
    width: 121px;
    height: 74px;
    background-color: #AB8264
}

.tabs3:nth-child(1) a{
    color: #F9F4F0;
    font-size: 24px;
    font-family: "Bebas Neue Bold", sans-serif;
    text-decoration:none;
}

.tabs3:nth-child(2) {
    width: 139px;
    height: 74px;
}

.tabs3:nth-child(3) {
    width: 102px;
    height: 74px;
}
.tabs3:nth-child(4) {
    width: 248px;
    height: 74px;
}

.dog-nature {
    width: 1920px;
    height: 1110px;
    top: 3601px;
    display:flex;
    position: absolute;
    border-radius:50px;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.description {
    top: 177px;
    width: 665px;
    left: 290px;
    height: 731px;
    position: absolute;
    display: grid;
    gap: 10px;
    justify-items: end;
}

.d1 {
    width: 665px;
    height: 290px;
    border-radius: 30px;
    display:flex;
    gap:30px;
    grid-column: 3;
    grid-row: 1;
    background-color: #EFE9E3;
}

.d0 {
    width: 595px;
    padding: 40px 30px;
    height: 204px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
}

.d {
    width: 313px;
    height: 194px;
    padding: 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.d h3{
    font-size: 20px;
}

.d2 {
    width: 313px;
    height: 194px;
    border-radius: 30px;
    background-color: #EFE9E3;
    display: flex;
    gap: 20px;
    align-items: center;
}

.d11, .d12 {
    display:flex;
    gap:30px;
    flex-direction: column;
}

.d13 {
    display: flex;
    gap: 40px;
    align-items: flex-end;
    grid-column: 3;
    grid-row: 1 / 2;
    justify-content: space-between;
}

.img-d {
    width: 150px;
    gap: 10px;
    display: flex;
    height: 20px;
}

.contain {
    font-size: 16px;
}

.btn-d{
    width: 300px;
    height: 82px;
    position:absolute;
    top: 4549px;
    left: 811px;
    gap:10px;
    border: 0px;
    border-radius: 20px;
    padding: 24px 40px;
    background-color: #396448;
    color: #FFFFFF;
    z-index: 10;
}
.btn-d1{
    width: 300px;
    height: 82px;
}

.faq{
    width: 1341px;
    height: 844px;
    display: flex;
    top: 4861px;
    position: absolute;
    left: 290px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.f-t h2{
    text-align: center;
    width: 654px;
    height: 82px;
    font-size: 68px;
    font-family: "Bebas Neue Bold";
    color: #272727;
}

.f-t p{
    text-align: center;
    width: 655px;
    top: -30px;
    height: 50px;
    position: relative;
    font-size: 18px;
    font-family: "Raleway";
    color: #272727;
}

.f-t1 p{
    width: 850px;
    height: 75px;
    font-size: 18px;
    font-family: "Raleway";
    color: #272727;
}

.f-t1 h3{
    width: 732px;
    height: 34px;
    font-size: 28px;
    font-family: "Bebas Neue Bold";
    color: #272727;
}

.accordion{
    width: 1341px;
    height: 643px;
    gap:12px;
    display:flex;
    flex-direction: column;
}

.question {
    background-color: #EFE9E3;
    max-width: 1339px;
    border-radius: 30px;
    height: 219px;
    justify-content: space-between;
    padding:40px;
    display: flex;
    flex-direction: column;
}

.question1 {
    display: flex;
    background-color: #EFE9E3;
    width: 1341px;
    border-radius: 30px;
    height: 94px;
    border: 1px solid #AB8264;
}

.question-content{
    display: flex;
    padding: 30px 40px;
    width: 1261px;
    height: 34px;
    align-items: center;
    justify-content: space-between;
}

.question-content h3{
    font-size: 28px;
    font-family: "Bebas Neue Bold";
    color: #272727;
}

.cirk img {
    width: 34px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

